<h2 class="ui center aligned large header">
  Welcome to MessageMe - <em>a complete Chat App</em>
</h2>
<h4 class="ui center aligned medium icon header">
  <i class="circular orange power off tiny icon"></i>
  Create an account to begin
</h4>
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= form_with(model: @user, local: true) do |form| %>
        <div class="field">
          <%= form.label :username, "Username" %>
          <span style="color: red;">*</span>
          <div class="ui left icon input">
            <%= form.text_field :username, placeholder: "Username" %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= form.label :password, "Password" %>
          <span style="color: red;">*</span>
          <div class="ui left icon input">
            <%= form.password_field :password, placeholder: "Password" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="field">
          <%= form.label :password_confirmation, "Confirm password" %>
          <span style="color: red;">*</span>
          <div class="ui left icon input">
            <%= form.password_field :password, placeholder: "Password Confirmation" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <%= form.button "Register", class: "ui orange submit button" %>
      <% end %>
    </div>
    <div class="middle aligned column">
      <%= link_to login_path, class: 'ui big orange button' do %>
        <i class="sign-in icon"></i>
        Log in
      <% end %>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>